.securisation {
  display: flex;
  justify-content: space-between;
  width: 1224px;
  height: 504px;
  margin-left: 108px;
  margin-top :80px ;
}
.image-sec .secImg {
  width: 504px;
  height: 504px;
}
.image-sec .secCovImg {
    position: absolute;
    width: 288px ;
height: 144px ;
margin-top: 200px ;
left: 256px ;
z-index: 3;

}
.text-sec {
  width: 592px;
  height: 352px;
}
  .text-sec h3 {
  color: rgba(43, 43, 43, 1);
font-family: 'Orbitron' sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
margin-top: 80px;
}
.text-sec p{
    width: 592px ;
height: 192px ;
font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: rgba(43, 43, 43, 0.7);
}
.sec-btn {
    width: 206px ;
height: 48px ;
font-family: 'Orbitron' sans-serif;
font-size: 14px;
font-weight: 800;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: rgba(43, 43, 43, 1);
border: 1px, 1px, 3px, 1px ;
border-style: solid;

border-color: rgba(43, 43, 43, 0.12);
padding: 12px, 16px, 12px, 16px ;
}