.publication {
  display: flex;
  flex-direction: column;
  width: 1264px;
  height: 601px;
  margin-top: 250px;
  justify-content: center;
  align-items: center;
}
.pubInsta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.pubInsta h5 {
  width: 705px;
  height: 56px;
  color: rgba(43, 43, 43, 1);
  font-family: "Orbitron" sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.gallery {
    display: flex;
    width: 1224px;
    height: 289px;
    margin-top: 80px;
    gap: 24px;
    z-index: 0;
}
.gallery img {
    width: 288px;
    height: 100%;
}
.instaPub-btn {
    width: 319px;
    height: 48px;
    color: rgba(43, 43, 43, 1);
    font-family: "Orbitron" sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-width: 1px, 1px, 3px, 1px;
    border-style: solid;
    border-color: rgba(43, 43, 43, 0.12);
    background: rgba(43, 43, 43, 0.12);
    padding: 12px, 16px, 12px, 16px;
    border: 1px, 1px, 3px, 1px;
    margin-top: 80px;
}
.slide {
    position: absolute;
    height: 40px;
    width: 40px;
    
}
.slide .prev{
    margin-top: 118px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(252, 252, 252, 1);
    margin-left: -20px;
    display: block;
    align-items: center;
    padding: 5px;
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.5), rgba(43, 43, 43, 0.5));
}
.slide .next {    
    margin-top: -30px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(252, 252, 252, 1);
    margin-left: 1210px;
    display: block;
    padding: 5px;
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.5), rgba(43, 43, 43, 0.5));
}

